* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", serif;
}

.container {
    max-width: 1180px !important;

}

.header-right {
    gap: 20px;
}

.header-right-box p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: right;

}

.hamburger_icon {
    display: none;
}

.header-right-box a {
    color: #607CE6;
    font-size: 20px;
    font-weight: 600;
    line-height: 28.48px;
    text-align: right;
    display: block;
}

.navbar-left a {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-decoration: none;
}

.navbar-right a {
    color: #607CE6;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-decoration: none;
}

.hero {
    padding: 80px 0;
}

.hero__title h1 {
    color: #333333;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    max-width: 580px;
}

.hero__title p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    max-width: 379px;
}

.about-company {
    padding-bottom: 80px;
}

.about-company-title h2 {
    color: #333333;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;


}

.about-company-text p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    max-width: 570px !important
}

.product {
    padding: 0 0 80px;
}

.product__title h2 {
    color: #333333;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    margin-top: 32px;
}

.product__box {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 107px;
    background-color: #F5F5F5;
    width: 380px;
}

.product__box p {
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    color: #333333;
    border-bottom: 12px;
}

.product__box a {
    color: #607CE6;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
}

.map {
    padding-bottom: 80px;
}

.map__title h2 {
    color: #333333;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 32px;
}

.news {
    padding-bottom: 80px;
}

.news__title h2 {
    color: #333333;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    margin-bottom: 32px;
}
.news__boxes{

}
.news__box img {
    width: 380px;
    height: 251px;
}

.news__box>div {
    padding: 16px;
    background-color: #F5F5F5;
}

.news__box p {
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    max-width: 348px;
    margin-bottom: 81px;
}

.news__box a {
    color: #607CE6;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;

}

.news__box span {
    color: #888888;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
}

footer {
    padding: 56px 0 24px;
    background-color: #333333;
}

.footer__right div {
    width: 155px;
    height: ;
}

.footer__right a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;


}

.footer__bottom {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    margin-top: 73px;
}

@media (max-width:768px) {
    .header-top {
        flex-direction: column;
        gap: 30px;

    }

    .header-right-box {
        max-width: 120px;
    }

    .header-right-box p {
        text-align: left;
        font-size: 12px;
    }

    .header-right-box a {
        text-align: left;
        font-size: 15px;
    }

.navbar-left a{
    display: none;
}
.hamburger_icon{
    display: block;
    width: 20px;
    height: 20px;
}
.hero{
    padding: 40px 0;
}
.hero__title{
    display: block;
}
.hero__title h1{
    font-size: 30px;
}
.hero__title p{
    font-size: 12px;
}
.hero__img img{
    width: 100%;
}
.about-company{
    padding-bottom: 40px;
}
.about-company-title h2{
    font-size: 20px;
}
.about-company-text p{
    font-size: 12px;
}
.about-company__imgs img{
    width: 100%;
    
    object-fit: cover;
}
.product{
    padding-bottom: 40px;
}
.product__title h2{
    font-size: 20px;
}
.product__box{
    max-width: max-content;
    justify-content: center;
    gap: 20px;
}
.product__box img{
    min-height: 190px;
}
.product__box p{
    font-size: 15px;
}
.product__box a{
    font-size: 12px;
}
.map{
    padding-bottom: 40px;
}
.map__title h2{
    font-size: 20px;
}
.map img{
    width: 100%;
}
.news__boxes{
    flex-wrap: wrap;
}
.news{
    padding-bottom: 40px;
}
.news__title h2{
    font-size: 20px;
    margin-bottom: 16px;
}
.news__box img{
    width: 100%;
}
.news__box p{
    font-size: 15px;
    margin-bottom: 40px;
}
.news__box a{
    font-size: 12px;
}
.news__box span{
font-size: 12px;
}
.footer__right a{
font-size: 14px;
}
.footer__bottom{
    margin-top: 40px;
}
.footer__bottom p{
    font-size: 12px;
    margin: 0;
}

}
@media (max-width:1024px){
    .header-top {
        flex-direction: column;
        gap: 30px;

    }

    .header-right-box {
        max-width: 120px;
    }

    .header-right-box p {
        text-align: left;
        font-size: 15px;
    }

    .header-right-box a {
        text-align: left;
        font-size: 18px;
    }

.navbar-left a{
    display: none;
}
.hamburger_icon{
    display: block;
    width: 20px;
    height: 20px;
}
.hero{
    padding: 40px 0;
}
.hero__title{
    display: block;
}
.hero__title h1{
    font-size: 40px;
}
.hero__title p{
    font-size: 15px;
}
.hero__img img{
    width: 100%;
}
.about-company{
    padding-bottom: 40px;
}
.about-company-title h2{
    font-size: 30px;
}
.about-company-text p{
    font-size: 15px;
}
.about-company__imgs img{
    width: 100%;
    
    object-fit: cover;
}
.product{
    padding-bottom: 40px;
}
.product__title h2{
    font-size: 30px;
}
.product__box{
    max-width: max-content;
    justify-content: center;
    gap: 20px;
}
.product__box img{
    min-height: 190px;
}
.product__box p{
    font-size: 18px;
}
.product__box a{
    font-size: 15px;
}
.map{
    padding-bottom: 40px;
}
.map__title h2{
    font-size: 30px;
}
.map img{
    width: 100%;
}
.news__boxes{
    flex-wrap: wrap;
}
.news{
    padding-bottom: 40px;
}
.news__title h2{
    font-size: 30px;
    margin-bottom: 16px;
}
.news__box img{
    width: 100%;
}
.news__box p{
    font-size: 18px;
    margin-bottom: 40px;
}
.news__box a{
    font-size: 15px;
}
.news__box span{
font-size: 15px;
}
.footer__right a{
font-size: 17px;
}
.footer__bottom{
    margin-top: 40px;
}
.footer__bottom p{
    font-size: 15px;
    margin: 0;
}
}